{% extends 'base.html' %}
{% load static %}

{# 页面标题 #}
{% block title %}
    接口请求
{% endblock %}

{% block nav_http_request_active %}active{% endblock %}

{% block head_extends %}
    <script src="{% static 'ajax/axios.js' %}"></script>
    <script src="{% static 'ajax/ajax_test.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>
        <span style="margin-left: 18px">接口请求</span>
    </h2>
    <br>
    <div>
        <form id="form1" action="/http_request.html" method="get">
            <span style="margin-left: 18px;color: #2b2b2b">
                地址：<input type="text" id="url" name="url" size="100"/><br><br>
            </span>
            <span style="margin-left: 18px;">
                请求方式：<input type="radio" name="request_method" value="post" checked/>POST               {# checked表示选中，默认 #}
                        <input type="radio" name="request_method" value="get" />GET<br><br>
            </span>
            <span style="margin-left: 18px;color: #2b2b2b">
                请求头：<textarea id="header" name="请求头" rows="15" cols="76"></textarea>
            </span>
            <span style="margin-left: 18px;color: #2b2b2b">
                请求参数：<textarea id="re_data" name="参数" rows="15" cols="76"></textarea><br><br>
            </span>
            <span style="margin-left: 400px">
                <input id="submit_request" type="button" value="提交" /><br><br>
            </span>

        </form>
    </div>
    <div id="output">
        <form id="form1">
            <span style="margin-left: 18px;display: inline-block;color: #2b2b2b">
                结果：<textarea id="result_post" name="结果" rows="15" cols="140"></textarea>
            </span>
        </form>
    </div>
{% endblock %}