{% extends 'base.html' %}
{% load static %}

{% block title %}造数据{% endblock %}

{% block nav_make_data_active %}active{% endblock %}

{% block head_extends %}
    <script src="{% static 'ajax/axios.js' %}"></script>
    <script src="{% static 'ajax/ajax_test.js' %}"></script>
    <script  type ="text/javascript" >
        window.onload = function(){
            select_box();    //调用js中的函数
        };
    </script>
{% endblock %}

{% block content %}
    <h2>
        <span style="margin-left: 18px">造数据</span>
    </h2>
    <br>
        <form class="datalist" action="/yaml_list/" method="post" name='yamllist'>
        {% csrf_token %}
            <span style="margin-left: 18px;color: #2b2b2b">
                项目：
                <span style="margin-left: 28px;color: #2b2b2b">
                    <select name='project_sql' id="sql_select">
                        <option value="database_name" selected>请选择项目</option>
                    </select>
                </span>
            </span><br /><br />
            <span style="margin-left: 18px;color: #2b2b2b">
                任务类型：
                <select name='kind'>
                        <option value="Pod" selected>Pod</option>
                        <option value="Service">Service</option>
                        <option value="Deployment">Deployment</option>
                        <option value="ReplicationController">ReplicationController</option>
                </select>
            </span><br /><br />
            <span style="margin-left: 18px;color: #2b2b2b">
                SQL语句：
                <span style="margin-left: 1px;color: #2b2b2b">
                    <input type="text" placeholder="sql" id="make_sql" name="sql" size="50"/>
                </span>
            </span><br /><br />
            <span style="margin-left: 18px;color: #2b2b2b">
                结果：
                <span style="margin-left: 28px;color: #2b2b2b">
                    <textarea placeholder="result" id="result_sql" name="containers_image2" rows="8" cols="53"/></textarea>
                </span>
            </span><br /><br />
            <span style="margin-left: 18px;color: #2b2b2b">
                <input type="reset" value="清除所有" />&nbsp;&nbsp;&nbsp;
                <input id="submit_data" type="button" value="生成yaml文件" />
            </span>
        </form>

{% endblock %}
